<p class="muted" style="padding-top: 5px;"><strong>Postuler à l'offre d'emploi : premier contact avec l'employeur</strong> </p>
<hr>
<form class = "form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputEmail" class="span1">Nom</label>
    <div class="controls">
      <input type="text" id="inputNom" placeholder="Nom" class="span5">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Prénom</label>
    <div class="controls">
      <input type="text" id="inputPrenom" placeholder="Prénom">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Email</label>
    <div class="controls">
      <input type="text" id="inputEmail" placeholder="Email">
    </div>
  </div>
  <div class="control-group">
      <label class="control-label" for="inputCV">Cv</label>
      <div class="controls">
        <input type="file" id="inputCv" placeholder="Import your cv">
      </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn-info btn btn-small" style="font-size: 14px; font-weight: bold;">Envoyer</button>
    </div>
  </div>
</form>