<br><br>
<div class="container narrow" style="background:#dddddd; text-align:center;padding-top: 15px;">
  <div class="row-fluid footer">
    <div class="span3"><a href="https://www.careerbuilder.fr">Careerbuilder.fr</a></div>
    <div class="span3"><a href="https://www.careerbuilder.eu">Careerbuilder.eu</a></div>
    <div class="span3"><a href="https://www.careerbuilder.com">Careerbuilder.com</a></div>
    <div class="span3"><a href="https://www.careerbuilder.co.uk">Careerbuilder.co.uk</a></div>
  </div>
</div>