<header>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a href="#" style="float:right;padding: 10px;">Connexion</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class=""><a href="#">Accueil</a>  </li>
          <li class=""> <a href="#">Emploi</a>  </li>
          <li class=""> <a href="#">Salon</a>  </li>
          <li class=""> <a href="#">Poster votre cv</a>  </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</header>