<div style="border: 1px solid #dddddd; padding: 5px;">
    <ul class="nav nav-list">
      <li class="nav-header" style="font-size: 14px; margin-bottom: 15px;background: none repeat scroll 0 0 #DDDDDD;">Filtrer </li>
      <li class="active"><a href="#">Company</a></li>
      <li><a href="#">Manpower</a></li>
      <li><a href="#">EDF</a></li>
    </ul>
    <ul class="nav nav-list">
      <li class="active"><a href="#">Ville</a></li>
      <li><a href="#">Paris</a></li>
      <li><a href="#">Nice</a></li>
    </ul>
</div>